<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{page.title}}</title>

    <!-- Twitter Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">

    <link type="text/css" rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <section class="container">
      <header class="page-header">
        <h1 id="brand">dyron</h1>

        <h2>{{page.title}}</h2>
      </header>

{{ content }}
    </section>
  </body>
</html>